.navbar {
  background: white;
  z-index: 999;
}
.navbar > a > i {
  color: #333;
}
.navbar > a {
    color: #333;
}
.navbar > :nth-child(13),
.navbar > :nth-child(14) {
  color: #333;
}
.text {
    padding: 1.2%;
    background: #333;
    color: white;
}
.tagi{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1% 18.5% ;
    background: white;
    color: black;
    border: none;
    z-index: 999;
}
.tagi>:nth-child(2){
    background: white;
    color: black;
    border: none;
}
.tagi>:nth-child(1){
    font-size: 25px;
    font-weight: 600;
}
.rasmcha{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background: black;
}
.rasmacha>figure{
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.rasmcha>figure>img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.albatta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.albatta>:nth-child(1){
    font-size: 33px;
    font-weight: 600;
    padding: 5% 0 2% 0;
}
.albatta>:nth-child(2){
    width: 45%;
    height:50px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

